* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Faculty, sans-serif;
}

:root {
    color-scheme: dark;
    --charcoal: #222831;
    --gunmetal: #393E46;
    --white: #EEEEEE;
    --cyan: #00ADB5;
    --red: #FF6B6B;
    
    --light-cyan: rgb(0, 213, 221);
    --focus-cyan: rgb(0, 233, 251);
    --hover-cyan: rgb(0, 103, 111);
}

:focus-visible {
    outline: 2px solid var(--focus-cyan);
    outline-offset: 2px;
}

@font-face {
    font-family: 'Major';
    src: url(assets/fonts/MajorMonoDisplay-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Faculty';
    src: url(assets/fonts/FacultyGlyphic-Regular.ttf) format('truetype');
}

[hidden] {
    display: none !important;
}

.hero {
    background: radial-gradient(ellipse at 50% 70%, rgba(0, 173, 201, .4), transparent 55%),var(--charcoal);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    background: var(--charcoal);
    width: 100%;
    padding: 40px;

    h1 {
        color: var(--white);
        font-size: 2.5em;
        font-family: Major, sans-serif;
        text-align: center;
    }
}

.url-shortener-container {
    width: 60%;
    max-width: 900px;
    min-height: 75vh;
    margin-bottom: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(57, 62, 70, .3), transparent );
    border-radius: 8px;
    border: 1px solid var(--cyan);
    justify-content: space-around;
    align-items: center;

    .subtitle-container {
        margin-bottom: 35px;

        .subtitle {
            text-align: center;
            color: var(--white);
        }
    }

    .input-container {
        position: relative;
        width: 70%;
        display: flex;
        flex-direction: column;
        padding: 12px;
        background-color: var(--white);
        font-weight: bold;
        border-radius: 4px;

        .data-wrapper {
            border-radius: 10px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            gap: 10px;


            label {
                color: var(--gunmetal);
            }

            .input-url {
                width: 100%;
                height: 35px;
                border: 2px solid var(--cyan);
                border-radius: 10px;
                padding: 0px 12px 0px 12px;
                background: var(--charcoal);
                color: var(--white);
            }

            #error {
                font-size: .8em;
                font-weight: 400;
                margin-top: -5px;
                margin-left: 15px;
                color: var(--red);
            }

            .copy-wrapper {
                position: relative;

                .btn-copy {
                    background-color: transparent;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 10px;
                    display: flex;
                    align-items: center;
                    border: none;

                    .copy-icon {
                        width: 20px;
                        background-color: rgba(238, 238, 238, .8);
                        padding: 2px;
                        border: 1px solid var(--cyan);
                        border-radius: 4px;
                        cursor: pointer;

                        &:hover {
                            background-color: var(--white);
                        }

                        &:active {
                            transform: scale(85%);
                            background-color: var(--cyan);
                        }
                    }
                }
            }
        }
    }

    .btn-shorten {
        padding: 20px;
        align-self: center;
        border: 3px solid var(--cyan);
        border-radius: 8px;
        background-color: var(--light-cyan);
        color: var(--charcoal);
        font-weight: bold;
        margin-top: 40px;
        cursor: pointer;
        transition: .3s;

        &:hover {
            background: var(--hover-cyan);
            color: var(--white);
        }

        &:active {
            background-color: var(--light-cyan);
            transform: translateY(-1px);
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}

@media (max-width: 441px) {
    .hero {
        justify-content: start;
    }

    .url-shortener-container {
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
        padding: 12px;
        justify-content: center;
        gap: 30px;
    }

    .input-container{
        width: 100%;
    }


    .data-wrapper {
        width: 100%;
    }

}